<h1>Listing messages</h1>

<table style="font-size:20px;">
  <thead>
    <tr>
      <% if admin? %>
        <!--
        <th>To</th>  
        <th>From</th>
        <th>From role</th>
        <th>Read</th>     
      -->
        <th>Expires</th>
        <th>Content</th>
      <% end %>         
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <% if admin? %>
        <!--
          <td><%= message.to %></td>        
          <td><%= message.from %></td>        
          <td><%= message.from_role %></td>
          <td><%= message.read %></td>
        -->
        <% end %>
         <td><%= message.expiration.to_s("hh:mm:ss tt") %></td>
        <td style="font-size:20px; padding:10px"><%= message.content %></td>
        <% if admin? %>
          <td><%= link_to 'Show', message, {class: 'btn btn-info btn-sm'} %></td>
          <td><%= link_to 'Edit', edit_message_path(message), {class: 'btn btn-info btn-sm'} %></td>
          <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin? %>
  <%= link_to 'New Message', new_message_path, {class: 'btn btn-success'} %>
<% end %>