<h1>Listing messages</h1>

<table style="font-size:20px;">
  <thead>
    <tr>
      <% if admin? %>
        <th>Expires</th>
        <th>Content</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
         <td><%= message.expiration.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td style="font-size:20px; padding:10px"><%= message.content %></td>
        <% if admin? %>
          <td><%= link_to 'Show', message, {class: 'btn btn-info btn-sm'} %></td>
          <td><%= link_to 'Edit', edit_message_path(message), {class: 'btn btn-info btn-sm'} %></td>
          <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
      <% end if @messages.count > 0 %>
  </tbody>
</table>

<br>
<% if admin? %>
  <%= link_to 'New Message', new_message_path, {class: 'btn btn-success'} %>
<% end %>
