<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.from %>
</p>

<p>
  <strong>From role:</strong>
  <%= @message.from_role %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>
-->
<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
