<p id="notice"><%= notice %></p>
 <% if @message.expiration  %>
    <p>
      <strong> Expired:</strong> 
      <%= (Time.now >= @message.expiration + 4.hour) %> 
    </p>

    <p>
      <strong> Expires:</strong>
      <%= @message.expiration %>
    </p>
  <% end %>
<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
