<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.from %>
</p>

<p>
  <strong>From role:</strong>
  <%= @message.from_role %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>
-->

<p>
  <strong> Compare:</strong> 
  Current time > Expire: <%= (Time.now >= @message.expiration + 4.hour)  %> 
 
</p>

<p>
  <strong> Expires:</strong>
  <% if @message.expiration  %>
  <%= @message.expiration %>
  <% end %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @message.created_at %>
</p>


<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
