<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %><br>
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :conference_id %><br>
    <%= f.number_field :conference_id %>
  </div>
  <div class="field">
    <%= f.label :employer_id %><br>
    <%= f.number_field :employer_id %>
  </div>
  <div class="field">
    <%= f.label :last_edit %><br>
    <%= f.text_field :last_edit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
