<%= form_for(@employer, multipart: true) do |f| %>
  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
      <% @employer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </div>
  <div class="control-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="control-group">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="control-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="control-group">
    <%= f.label :majors %><br>
    <%= f.text_area :majors %>
  </div>
  <div class="control-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="control-group">
    <%= f.label :positions %><br>
    <%= f.text_area :positions %>
  </div>
  <div class="control-group">
    <%= f.label :tips %><br>
    <%= f.text_area :tips %>
  </div>
  <div class="control-group">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="control-group">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="control-group">
    <%= f.label :last_edit %><br>
    <%= f.text_field :last_edit %>
  </div>
  <div class="control-group">
    <%= f.label :table_id %><br>
    <%= f.number_field :table_id %>
  </div>
  <div class="control-group">
    <%= f.label :conference_id %><br>
    <%= f.collection_select :conference_id, Conference.order(:name),:id,:name, include_blank: true, :prompt => "Pick Conference" %>
  </div>
  <%= f.hidden_field :last_edit, :value => current_user.name %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
