<h1>Listing employers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Description</th>
      <th>Majors</th>
      <th>Email</th>
      <th>Positions</th>
      <th>Table</th>
      <th>Conference</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.name %></td>
        <td><%= employer.website %></td>
        <td><%= employer.description %></td>
        <td><%= employer.majors %></td>
        <td><%= employer.email %></td>
        <td><%= employer.positions %></td>
        <td><%= employer.table_id %></td>
        <td><%= employer.conference.name %></td>
        <td><%= link_to 'Show', employer, {class: "btn btn-default"} %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer), {class: "btn btn-default"}%></td>
        <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path , {class: "btn btn-success"}%>
