<h1>Listing employers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Website</th>
      <th>Description</th>
      <th>Majors</th>
      <th>Email</th>
      <th>Positions</th>
      <th>Table</th>
      <th>Conference</th>
      <% if admin? %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td>
          <a href="/employers/<%= employer.id %>/favorite">
            <% if current_user && !current_user.favorites.nil? && current_user.favorites.include?(employer.id.to_s) %>
              <span class="glyphicon glyphicon-star"></span>
            <% else %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </a>
        </td>
        <td><%= employer.name %></td>
        <td><%= employer.website %></td>
        <td><%= employer.description %></td>
        <td><%= employer.majors %></td>
        <td><%= employer.email %></td>
        <td><%= employer.positions %></td>
        <td><%= employer.table_id %></td>
        <td><%= employer.conference.name %></td>
        <% if admin? %>
          <td><%= link_to 'Show', employer, {class: "btn btn-default"} %></td>
          <td><%= link_to 'Edit', edit_employer_path(employer), {class: "btn btn-default"}%></td>
          <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path , {class: "btn btn-success"}%>
