<h1>Map - <%= current_con.name %> </h1>
<br>
<%= image_tag "/uploads/maps/#{current_con.map}" %>

<% if current_user && admin? %>
  <%= form_tag("/employers/map_upload", multipart: true) do %>
  <%= label_tag(:q, "Upload:") %>
  <%= file_field_tag 'map' %>
  <%= submit_tag("Upload") %>
  <% end %>
<% end %>
