<h1><%= @employer.name %> <small><%= @employer.location %></small></h1>

<div class="row row-fluid">
  <div class="col-lg-6">
    <p>
      <% @employer.majors.split(',').each do |major| %>
        <span class="label label-primary"><%= major %></span>
      <% end if @employer.majors %>
    </p>
    <p>
      <% @employer.positions.split(',').each do |pos| %>
        <span class="label label-default"><%= pos %></span>
      <% end if @employer.positions %>
    </p>
    <p><%= @employer.description %></p>
    <% if current_user && !current_user.favorites.nil? && current_user.favorites.include?(@employer.id.to_s) %>
      <a href="/employers/<%= @employer.id %>/defavorite"><button type="button" class="btn fair-btn btn-warning btn-lg"><span class="glyphicon glyphicon-star"></span> Favorite</button></a>
    <% else %>
      <a href="/employers/<%= @employer.id %>/favorite"><button type="button" class="btn fair-btn btn-default btn-lg"><span class="glyphicon glyphicon-star-empty"></span> Favorite</button></a>
    <% end %>
    <% if !@employer.website.nil? %>
    <a href="http://<%= @employer.website %>"><button type="button" class="btn fair-btn btn-primary btn-lg"><span class="glyphicon glyphicon-share-alt"></span> Website</button></a>
    <% end %> 
  </div>
  <div class="col-lg-6">
    <% unless @employer.logo.blank? %>
    <%= image_tag("/uploads/company_logos/#{@employer.logo}" , class: "logos")%>
    <% end %>
    <p>
      <strong>Tips:</strong>
      <%= @employer.tips %>
    </p>


    <p>
      <strong>Table:</strong>
      <%= @employer.table_s %>
    </p>

    <p>
      <strong>Conference:</strong>
      <%= @employer.conference.name if @employer.conference%>
    </p>

    <% if admin? %>
    <p>
      <strong>Last edit:</strong>
      <% if @employer.last_edit %>
        <%= @employer.last_edit %>
      <% else %>
        No User Data
      <% end %>
    </p>
    <% end %>
  </div>
</div>
<br/><br/>
<% if admin? %>
<%= link_to 'Edit', edit_employer_path(@employer), {class: "btn btn-default"}%>
<%= link_to 'Destroy', @employer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>

<%= link_to 'Back', employers_path, {class: "btn btn-default"} %>
