<p id="notice"><%= notice %></p>

<h1><%= @employer.name %></h1>

<p><span class="label label-primary">Computer Science</span> <span class="label label-primary">Computer Engineering</span></p>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><strong>Position:</strong> <%= @employer.positions %></p>
  <p><strong>Location:</strong> Charleston, SC</p>
  <a href="#"><button type="button" class="btn fair-btn btn-warning btn-lg"><span class="glyphicon glyphicon-star"></span>Favorite</button></a><br>
  <a href="#"><button type="button" class="btn fair-btn btn-primary btn-lg"><span class="glyphicon glyphicon-bookmark"></span> Website</button></a><br>

<p>
  <strong>Website:</strong>
  <%= @employer.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employer.description %>
</p>

<p>
  <strong>Majors:</strong>
  <%= @employer.majors %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<p>
  <strong>Positions:</strong>
  <%= @employer.positions %>
</p>

<p>
  <strong>Tips:</strong>
  <%= @employer.tips %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @employer.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @employer.updated_at %>
</p>

<p>
  <strong>Last edit:</strong>
  <%= @employer.last_edit %>
</p>

<p>
  <strong>Table:</strong>
  <%= @employer.table_id %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @employer.conference.name %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
