<p id="notice"><%= notice %></p>

<h1><%= @employer.name %></h1>

<p><span class="label label-primary">Computer Science</span> <span class="label label-primary">Computer Engineering</span></p>
  <p><%= @employer.description %></p>
  <p><strong>Position:</strong> <%= @employer.positions %></p>
  <p><strong>Location:</strong> <%= @employer.location %></p>
  <a href="#"><button type="button" class="btn fair-btn btn-warning btn-lg"><span class="glyphicon glyphicon-star"></span>Favorite</button></a><br>
  <a href="#"><button type="button" class="btn fair-btn btn-primary btn-lg"><span class="glyphicon glyphicon-bookmark"></span> Website</button></a><br>


<p>
  <strong>Majors:</strong>
  <%= @employer.majors %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<p>
  <strong>Positions:</strong>
  <%= @employer.positions %>
</p>

<p>
  <strong>Tips:</strong>
  <%= @employer.tips %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @employer.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @employer.updated_at %>
</p>

<p>
  <strong>Last edit:</strong>
  <% if @last_edit %>
    <%= @last_edit.name %>
  <% else %>
    No User Data
  <% end %>
</p>

<p>
  <strong>Table:</strong>
  <%= @employer.table_id %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @employer.conference.name %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
