<h1><%= @employer.name %> <small><%= @employer.location %></small></h1>

<p>
  <% @employer.majors.split(',').each do |major| %>
    <span class="label label-primary"><%= major %></span>
  <% end %>
</p>
<p>
  <% @employer.positions.split(',').each do |pos| %>
    <span class="label label-default"><%= pos %></span>
  <% end %>
</p>
<p><%= @employer.description %></p>
<a href="#"><button type="button" class="btn fair-btn btn-warning btn-lg"><span class="glyphicon glyphicon-star"></span> Favorite</button></a>
<a href="<%= @employer.website %>"><button type="button" class="btn fair-btn btn-primary btn-lg"><span class="glyphicon glyphicon-share-alt"></span> Website</button></a>


<p>
  <strong>Tips:</strong>
  <%= @employer.tips %>
</p>


<p>
  <strong>Table:</strong>
  <%= @employer.table_id %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @employer.conference.name %>
</p>

<% if admin? %>
<p>
  <strong>Last edit:</strong>
  <% if @last_edit %>
    <%= @last_edit.name %>
  <% else %>
    No User Data
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
