<!DOCTYPE html>
<html>
<head>
  <title>CareerCenterApp</title>
  <%= javascript_include_tag 'jquery', 'application' %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!-- Example Navbar-->

<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <img src="https://www.parkersearch.com/dashboard/uploads/photos/usc_long1351087132.jpg" align="left" width="200" height="50">
    <ul class="nav navbar-nav">
      <li><a href="#">Login</a></li>
      <li><a href="#">Map</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employers <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/employers">All Employers</a></li>
          <li><a href="#">Favorite Employers</a></li>
          <li><a href="#">Search Employers</a></li>
          <li class="divider"></li>
          <li><a href="#">Edit Employer</a></li>
          <li><a href="/employers/new">New Employer</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
