<!DOCTYPE html>
<html>
<head>
  <title>CareerCenterApp</title>
  <%= javascript_include_tag 'jquery', 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!-- Example Navbar-->

<nav class="navbar navbar-default" role="navigation">
  <script type="text/javascript">
    $( function(){
      $('.dropdown-toggle').dropdown()
    })
  </script>
  <div class="container">
    <div class="navbar-header" style="margin-bottom: 0px">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-bottom: 0px"><img class="brand" src="https://www.parkersearch.com/dashboard/uploads/photos/usc_long1351087132.jpg" align="left" width="120" height="30"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employers <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/employers">All Employers</a></li>
            <li><a href="/employers/favorites">Favorite Employers</a></li>
            <% if admin? %>
            <li class="divider"></li>
            <li><a href="/employers/new">New Employer</a></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Map", employers_map_path %> </li>
        <li><a href="http://sc.edu/career/">Career Center</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><%= link_to "Conference", conferences_select_con_path %></li>
        <% if admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Admin Tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/conferences/new">New Conference</a></li>
              <li><a href="/tables/new">New Table</a></li>
              <li><a href="/tables">Table List</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/messages/new">New Message</a></li>
              <li><%= link_to "Import from CSV", employers_import_form_path %></li>
              <li><a href="/conferences">Conferences</a></li>
              <li><%= link_to "Map", employers_map_path %> </li>
            </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/users">Users</a></li>
              <li><a href="/users/<%= current_user.id %>">View Profile</a></li>
              <li><a href="/employers/favorites">Favorite Employers</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          <% else %>
            <a href="/login">Login</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>

</head>
<body>
	<div class="container">
    <center>
      <% flash.each do |name, msg| %>
        <% if name == :error %>
          <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= msg %></div> 
        <% elsif name == :success %>
          <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= msg %></div> 
        <% elsif name == :notice %>
          <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><%= msg %></div> 
        <% end %>
      <% end %>
    </center>

		<%= yield %>
	</div>
</body>
</html>
